<!DOCTYPE html>
<html>
  <head><title>AWX Lab Web</title></head>
  <body>
    <h1>Lab Web OK</h1>
    <p>Host: {{ ansible_facts.hostname }}</p>
    <p>OS: {{ ansible_facts.distribution }} {{ ansible_facts.distribution_version }}</p>
  </body>
</html>
