---
- name: Install web server package (RedHat family)
  ansible.builtin.package:
    name: httpd
    state: present
  when: ansible_facts.os_family == 'RedHat'

- name: Install web server package (Debian family)
  ansible.builtin.package:
    name: nginx
    state: present
  when: ansible_facts.os_family == 'Debian'

- name: Deploy index.html (RedHat family)
  ansible.builtin.template:
    src: index.html.j2
    dest: "{{ web_root_redhat }}/index.html"
    mode: "0644"
  notify: restart web service
  when: ansible_facts.os_family == 'RedHat'

- name: Deploy index.html (Debian family)
  ansible.builtin.template:
    src: index.html.j2
    dest: "{{ web_root_debian }}/index.html"
    mode: "0644"
  notify: restart web service
  when: ansible_facts.os_family == 'Debian'

- name: Ensure web service is running and enabled
  ansible.builtin.service:
    name: "{{ 'httpd' if ansible_facts.os_family == 'RedHat' else 'nginx' }}"
    state: started
    enabled: true
